{
    frankenphp {
        worker {
            file /var/www/public/index.php
            num 4
        }
    }
}

api.fundraiser.my.id {
    root * /var/www/public
    encode zstd br gzip
    php_server
}
